<div id="app">
    <vue-accordion id="vue-accordion">
        <div class="panel">
            <div class="panel__heading" aria-expanded="false">
                <h4 class="">Test Vue JS Panel 1</h4>
            </div>
            <div class="panel__content">
                <p>Panel 1 Content</p>
                <a href="#">Jump link</a>
            </div>
        </div>
        <div class="panel">
            <div class="panel__heading" aria-expanded="false">
                <h4 class="">Test Vue JS Panel 2</h4>
            </div>
            <div class="panel__content">
                <p>Panel 2 Content</p>
            </div>
        </div>
    </vue-accordion>
</div>