<div id="app">
    <vue-accordion id="vue-accordion" role="tablist">
        <div class="panel">
            <div class="panel__heading" role="tab" aria-expanded="false">
                <h4 class="">Test Vue JS Panel 1</h4>
            </div>
            <div class="panel__content" role="tabpanel">
                <p>Panel 1 Content</p>
                <a href="https://google.com">Jump link</a>
            </div>
        </div>
        <div class="panel">
            <div class="panel__heading" role="tab" aria-expanded="false">
                <h4 class="">Test Vue JS Panel 2</h4>
            </div>
            <div class="panel__content" role="tabpanel">
                <p>Panel 2 Content</p>
            </div>
        </div>
    </vue-accordion>
</div>