<div class="accordion js-accordion" role="tablist">
    <div class="panel">
        <div class="panel__heading" role="tab" tabIndex="0"  aria-expanded="false">
            <h4>Test 1 Vanilla</h4>
        </div>
        <div class="panel__content" role="tabpanel" aria-hidden="true">
            <p>Vanilla!</p>
        </div>
    </div>
    <div class="panel" >
        <div class="panel__heading" role="tab" tabIndex="0"  aria-expanded="false">
            <h4>Test 1 Vanilla</h4>
        </div>
        <div class="panel__content" role="tabpanel" aria-hidden="true">
            <p>Vanilla!</p>
        </div>
    </div>
</div>